<div class="visitor-counter">
  <script
    type="text/javascript"
    id="mapmyvisitors"
    src="https://mapmyvisitors.com/map.js?d=xmc6i_SpmLS5vsiluLo5p5JnoxT3upiIFTown0TwlM0&cl=ffffff&w=a&x=y"
  ></script>
</div>
